/*=========================*/
/*  Responsive breakpoints
/*=========================*/
$min-xxs: '(min-width: 1025px)';
$min-xs: '(min-width: 576px)';
$min-md: '(min-width: 768px)';
$min-lg: '(min-width: 992px)';
$min-xl: '(min-width: 1200px)';
$min-ct-xxl: '(min-width: 1500px)';

$max-xxs: '(max-width: 375px)';
$max-xs: '(max-width: 575.98px)';
$max-md: '(max-width: 767.98px)';
$max-lg: '(max-width: 991.98px)';
$max-xl: '(max-width: 1199.98px)';