.text-color{
    color: var(--text-color);
}

.base-color-one{
    color: var(--base-color-one) !important;
}

.base-color-two{
    color: var(--base-color-two);
}

.body-bg{
    background-color: var(--body-bg);
}

.header-bg{
    background-color: var(--header-bg);
}

.section-padding{
    padding: 40px 0;
    @media #{$min-xl} {
        padding: 80px 0;
    }
}

a,
.nav-link{
    text-decoration: none;
    color: var(--text-color);
    &:hover{
        color: var(--base-color-one);
    }
    &:active,
    &:focus{
        color: var(--base-color-one);
    }
}

.subtitle{
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-family: "DINPro", Arial, serif;
    font-weight: 700;
    padding: 0 0 25px;
    @media #{$min-xl} {
        font-size: var(--text-large-x);
        padding: 0 0 50px;
    }
    p{
        font-weight: 400;
        font-family: var(--font-family);
        font-size: 18px;
        margin-top: 15px;
    }
}

.box{
    margin-bottom: 40px;
    @media #{$min-md} {
        margin-bottom: 0;
    }
    img{
        border-radius: 0;
        box-shadow: 0px 1px 9px 0px rgb(0 0 0 / 13%);
    }
    .card-body{
        padding: 0;
    }
    .card-title{
        margin: 0;
        padding: 15px 0 0;
        @media #{$min-lg} {
            padding: 20px 0 5px;
        }
        h5{
            font-weight: 700;
            font-size: 24px;
            line-height: 1;
            margin: 0;
            @media #{$min-md} {
                font-size: 16px;
            }
            @media #{$min-lg} {
                font-size: 24px;
            }
            @media #{$min-xl} {
                font-size: 26px;
            }
        }
    }
    .card-text{
        font-size: 18px;
        line-height: 1.7;
        margin-top: 15px;
    }
}

.divider{
    padding: 40px 0;
    @media #{$min-md} {
        padding: 0;
    }
}

.btn-primary{
    border-color: var(--base-color-one);
    background-color: var(--base-color-one);
    font-weight: 600;
    font-size: 14px;
    border-radius: 100px;
    padding: 15px 40px;
    box-shadow: none;
    &:hover{
        border-color: var(--base-color-two);
        background-color: var(--base-color-two);
    }
    &:active{
        border-color: var(--base-color-two) !important;
        background-color: var(--base-color-two) !important;
    }
    @media #{$min-md} {
        font-size: 18px;
    }
    @media #{$min-lg} {
        font-size: 18px;
    }
}

.copyright{
    background-color: ebebeb;
    padding: 20px 0;
    text-align: center;
    @media #{$min-md} {
        text-align: left;
        .social-media-area{
            text-align: right;
        }
    }
    
    .content{
        font-size: var(--text-medium);
        font-weight: 600;
        margin-top: 15px;
        @media #{$min-md} {
            margin-top: 0;
        }
    }

    .social-media{
        li{
            text-align: center;
            display: inline-block;
            margin-right: 5px;
            &:last-child{
                margin-right: 0;
            }
            a{
                width: 40px;
                height: 40px;
                color: var(--base-color-one);
                border: 1px solid var(--base-color-one);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                transition: 0.3s;
                &:hover{
                    background-color: var(--base-color-one);
                    color: #fff;
                }
            }
        }
    }
}

@media (min-width: 1200px) and (max-width: 1500.98px) {
    #slider {
        .content {
            h1{
                font-size: 48px !important;
            }
        }
    }
}


#disclaimer\ {
    background: #d4efc4;
    padding: 20px 0;
    .disclaimer{
        p{
            font-size: 14px;
        }
    }
}

.text-normal{
    text-transform: initial;
}