#header{
	background-color: var(--header-bg);
	position:fixed;
	top:0;
	left:0;
	z-index:999;
	width: 100%;

	.nav{
		display: none;
		@media #{$min-lg} {
		    display: flex;
		}

		.nav-link{
			padding-left: 30px;
			padding-right: 30px;
			@media #{$min-lg} {
				padding-left: 15px;
				padding-right: 15px;
			}
			@media #{$min-xl} {
				padding-left: 30px;
				padding-right: 30px;
			}
		}
	}

	.offcanvas-menu{
		font-size: 40px;
	}

	.sharearea{
		.shareBtn{
			background: transparent;
			border: 0;
			color: var(--base-color-one);
			font-size: 32px;
			margin-right: 15px;
			img{
				max-width: 23px;
				width: 100%;
				transform: translateY(-3px);
			}
		}

		.dropdown-menu{
			background-color: #ecf5e8;
			border: 0;
			box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.13);
		}

		.dropdown-item{
			transition: 0.3s;
			&:hover{
				color: #fff;
				background-color: var(--base-color-one);
			}
		}
	}

	
.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 999;
    top: 0;
    right: -300px;
    background-color: var(--header-bg);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
//   .sidenav a {
//     padding: 8px 8px 8px 32px;
//     text-decoration: none;
//     font-size: 25px;
//     color: #818181;
//     display: block;
//     transition: 0.3s;
//   }
  
//   .sidenav a:hover {
//     color: #f1f1f1;
//   }

  .sidenav .offcanvas-body a{
		display: block;
		font-size: 20px;
		padding: 15px 30px;
		border-bottom: 1px solid #c0d0ba;
		transition: var(--transition);
	}
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
}

.offcanvas-menu-area{
	background-color: var(--header-bg);
	.offcanvas-body{
		ul{

		}
		li{
			&:hover{
				a{
					background-color: var(--body-bg);
				}
			}
			// &:last-child{
			// 	a{
			// 		border: 0;
			// 	}
			// }
		}
		a{
			display: block;
		    font-size: 20px;
		    padding: 15px 30px;
		    border-bottom: 1px solid #c0d0ba;
		    transition: var(--transition);
		}
	}
}