:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #000;
    --base-color-one: #662265;
    --base-color-two: #6db653;
    --body-bg: #ecf5e8;
    --header-bg: #d8e9d1;

    --text-regular: 14px;
    --text-medium: 16px;
    --text-large: 26px;
    --text-large-x: 32px;

    --font-family: "DINProThin", Arial, sans-serif;

    --transition: 0.3s;
}