body{
    font-family: var(--font-family);
    font-size: var(--text-size);
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--body-bg);
    padding-top: 110px;
    @media #{$min-md} {
        padding-top: 90px;
    }
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.2;
}
p{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-primary,
button,
a{
    &:hover{
        text-decoration: none;
    }
    &:focus{
        outline: none;
        box-shadow: none;
    }
}

.btn-check:checked+.btn,.btn.active,.btn.show,.btn:first-child:active,:not(.btn-check)+.btn:active {
    border-color: transparent;
}

